.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    /* margin: auto; */
    background-color: #f0f0f0;
    box-shadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* height: 10vh; */
  }
  
  .video {
    width: 100%;
    border-radius: 20px;
  }
  